*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

form{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

form input{
    width: 550px;
}

.vid{
    display: flex;
    flex-wrap: wrap;
}

.vid #aboute{
    display: flex;
    top: 10px;
    left: 10px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 5;
    width: 300px;
    height: 70px;
}

hr{
    width:100%;
}

.vid #aboute .icon{
    color: #000;
}

.vid #img{
    width: 300px;
    margin-left: 20px;
    margin-top: 10px;
}


.height{
    height: 700px;
}

.container {
    position: relative !important;
}

nav .icon{
    position: absolute;
}

nav .home{
    top: 5px;
    left: 0px;
}

nav .profile{
    top: -19px;
    left: 900px;
    font-size: 1.5rem;
}


@media (width:800px) {

}


